<div class="post">
    <div class="facebook-post">
        <div class="twt-border">
            <blockquote>
                <div class="facebook-head">
                    <div class="head-pic">
                        <a href="https://www.facebook.com/{{ post.data.from.id }}"><img src="https://graph.facebook.com/{{ post.data.from.id }}/picture" style="width: 32px; height: 32px;"></a>
                    </div>
                    <div class="facebook-logo"><a href="{{ post_link }}" title="Facebook post"><img src="/facebook-logo.png"></a></div>
                    <div class="head-space">
                        <div class="head-author">
                            {% if post.data.story %}
                                <div class="story">
                                    {{ post.data.story|facebook_text(post.data.story_tags)|raw }}
                                </div>
                            {% else %}
                                <div class="name">
                                    <a href="https://www.facebook.com/{{ post.data.from.id }}">{{ post.data.from.name }}</a>
                                </div>
                            {% endif %}
                            <a href="{{ post_link }}" class="timestamp"><abbr title="{{ post.data.created_time|date("r") }}">{{ post.data.created_time|date("j M y") }}</abbr></a>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="message short hideoverflow">
                        {{ post.data.message|facebook_text(post.data.message_tags)|raw }}
                    </div>
                    {% if post.data.type === "link" %}
                        <div class="link">
                            {% if post.data.picture %}
                                <img src="{{ post.data.picture|facebook_picture }}" class="picture" alt="{{ post.data.name }}" />
                            {% endif %}
                            <div class="meta-outside">
                                <a href="{{ post.data.link }}" class="meta-link">
                                    {# Must not contain </a> because HTML5 parser stops there then. #}
                                    <span class="meta">
                                        <span class="name">{{ post.data.name }}</span>
                                        {% if post.data.caption %}
                                            <span class="caption">{{ post.data.caption }}</span>
                                        {% endif %}
                                        {% if post.data.description %}
                                            <span class="description">{{ post.data.description }}</span>
                                        {% endif %}
                                    </span>
                                </a>
                            </div>
                            <div class="top-border"> </div>
                            <div class="right-border"> </div>
                            <div class="bottom-border"> </div>
                        </div>
                    {% else if post.data.type === "photo" %}
                        <div class="photo">
                            <a href="{{ post.data.link }}"><img src="{{ post.data.picture|facebook_photo }}" class="picture" alt="{{ post.data.name }}" /></a>
                            {% if post.data.caption %}
                                <div class="caption short hideoverflow">{{ post.data.caption|facebook_text(post.data.caption_tags)|raw }}</div>
                            {% endif %}
                            {% if post.data.description %}
                                <div class="description short hideoverflow">{{ post.data.description|facebook_text(post.data.description_tags)|raw }}</div>
                            {% endif %}
                        </div>
                    {% else if post.data.type === "video" %}
                        <div class="video">
                            {# TODO: Icon for video overlay #}
                            {# TODO: Replace with video player when clicked? #}
                            {% if post.data.picture %}
                                <a href="{{ post_link }}"><img src="{{ post.data.picture|facebook_picture }}" class="picture" alt="{{ post.data.name }}" /></a>
                            {% endif %}
                            <div class="meta-outside">
                                <a href="{{ post.data.link }}" class="meta-link">
                                    {# Must not contain </a> because HTML5 parser stops there then. #}
                                    <span class="meta">
                                        <span class="name">{{ post.data.name }}</span>
                                        {% if post.data.caption %}
                                            <span class="caption">{{ post.data.caption }}</span>
                                        {% endif %}
                                        {% if post.data.description %}
                                            <span class="description">{{ post.data.description }}</span>
                                        {% endif %}
                                    </span>
                                </a>
                            </div>
                            <div class="top-border"> </div>
                            <div class="right-border"> </div>
                            <div class="bottom-border"> </div>
                        </div>
                    {% endif %}
                    <div class="actions">
                        {# TODO: Override links with JavaScript #}
                        {% if post.data.actions.like %}
                            <a href="{{ post.data.actions.like.link }}" title="Like this item">Like</a> ·
                        {% endif %}
                        {% if post.data.actions.comment %}
                            <a href="{{ post.data.actions.comment.link }}" title="Leave a comment">Comment</a> ·
                        {% endif %}
                        <a href="{% if post.data.actions.share %}{{ post.data.actions.share.link }}{% else %}{{ post_link }}{% endif %}" title="Send this to friends or post it on your timeline">Share</a>
                        {% if post.data.shares %}
                            <span class="shares"><a href="https://www.facebook.com/shares/view?id={{ post_id }}" title="Show shares">{{ post.data.shares.count }}</a></span>
                        {% endif %}
                    </div>
                    {% if post.data.likes %}
                        <div class="likes"><a href="https://www.facebook.com/browse/likes?id={{ post_id }}">{{ post.data.likes.count }} people</a> like this.</div>
                    {% endif %}
                </div>
            </blockquote>
        </div>
    </div>
</div>