body {
    background: url("bg_wall.jpg") no-repeat fixed 0 0 #333333 !important;
    margin: 0;
}

.post {
    display: inline-block;
    max-width: 350px;
    min-width: 350px;
    padding: 5px;
    vertical-align: top;
}

#header {
    background: url("paper.jpg") repeat scroll center bottom #DDDDDD;
    box-shadow: 0 0 10px 5px black;
    color: #00285A;
    font-family: "Permanent Marker";
    font-size: 17px;
    letter-spacing: 0;
    margin: 0 0 20px;
    min-width: 250px;
    padding: 10px 100px 10px 10px;
    text-align: center;
    text-shadow: 0 0 1px #000088;
    top: 0;
}

#header tt {
    color: #DF0000;
    font-family: cursive;
    font-size: 33px;
    font-weight: normal;
    text-shadow: 0 0 2px red;
}

.twitter-tweet-rendered {
    margin: 0 !important;
}

.twt-border blockquote {
}

.facebook-post .twt-border blockquote {
    margin: 0;
    padding: 15px;
}

.facebook-post .twt-border, .facebook-post, .facebook-post .twt-border .body {
    color: #333333;
    direction: ltr;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px !important;
    line-height: 1.28 !important;
    text-align: left;
}

.facebook-head {
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 10px;
}

.facebook-logo {
    float: right;
    margin-left: 5px;
    marinn-bottom: 1px;
}

.facebook-post p {
    padding: 10px 0 15px;
}

.facebook-post .head-pic {
    display: block;
    float: left;
}

.head-pic img {
    border-radius: 5px 5px 5px 5px;
    height: 32px;
    width: 32px;
}

.facebook-post .head-author {
    margin-left: 40px;
    vertical-align: middle;
}

.facebook-post a {
    color: #3B5998;
    cursor: pointer;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.facebook-post .more a {
	font-size: 11px;
	font-weight: normal;
}

.facebook-post a.timestamp, .facebook-post a.timestamp abbr {
    border-bottom: medium none;
    color: #999999;
    font-size: 11px;
    font-weight: normal;
}

.facebook-post a:hover {
    text-decoration: underline;
}

.facebook-post .message {
    margin: 10px 0 10px 0;
    color: #333333;
    font-size: 13px;
    line-height: 1.38;

}

.facebook-post .body a {
    font-weight: normal;
}

.facebook-post .picture {
    max-width: 100%;
}

.facebook-post .actions {
    background-color: #EDEFF4;
    padding: 5px 12px;
    color: #999999;
    margin-top: 10px;
}

.facebook-post .actions a {
    color: #3B5998;
    cursor: pointer;
    text-decoration: none;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height: 1.28;
    font-weight: normal;
}

.facebook-post .actions a:hover {
    text-decoration: underline;
}

.facebook-post .actions .shares {
    float: right;
}

.facebook-post .likes {
    background-color: #F1F2F6;
    margin-top: 1px;
    border: 0 none;
    padding: 5px 12px;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height: 1.28;
    font-weight: normal;
}

.facebook-post .likes a {
    font-size: 11px;
    line-height: 1.28;
    font-weight: normal;
}

.facebook-post .photo .caption {
    border-left: 2px solid #CCCCCC;
    margin-top: 10px;
    padding-left: 8px;
}

.facebook-post .video, .facebook-post .link {
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    background-color: #F7F7F7;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
}

.facebook-post .video .picture, .facebook-post .link .picture {
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
}

.facebook-post .video .picture {
    width: 130px;
    height: 130px;
}

.facebook-post .link .picture {
    width: 90px;
    height: 90px;
}

.facebook-post .top-border, .facebook-post .bottom-border {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    left: 1px;
    position: absolute;
    right: 1px;
    top: 0;
}

.facebook-post .bottom-border {
    top: auto;
    bottom: 0;
    right: 0;
}

.facebook-post .right-border {
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
}

.facebook-post .meta-outside {
    overflow: hidden;
}

.facebook-post .video .meta-link {
    min-height: 122px;
    display: block;
}

.facebook-post .meta-link:hover {
    text-decoration: none;
}

.facebook-post .video .meta {
    max-height: 118px;
    display: block;
}

.facebook-post .meta {
    overflow: hidden;
    font-size: 11px;
    color: gray;
    font-weight: normal;
    margin: 8px 10px 10px 10px;
}

.facebook-post .meta .name {
    color: #3B5998;
    font-weight: bold;
}

.facebook-post .meta .name:hover {
    text-decoration: underline;
}

.facebook-post .meta .description {
    margin-top: 3px;
}

.facebook-post .link .meta-link {
    min-height: 82px;
    display: block;
}

.facebook-post .link .meta {
    max-height: 75px;
    display: block;
}

.facebook-post .meta-link span {
    display: block;
}