body {
    background: url("bg_wall.jpg") repeat fixed 0 0 #333333;
    margin: 0;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

:link {
    text-decoration: none;
}

.post {
    display: inline-block;
    margin: 0;
    max-width: 360px;
    min-width: 360px;
    padding: 0;
    vertical-align: top;
}

.eventsCalendar-list .post {
    max-width: 345px;
    min-width: 345px;
}

.facebook-post {
    margin: 5px;
}

.twitter-tweet {
    display: none; /* Hide not (yet) rendered tweets */
    width: 347px; /* This is the calculated size for smaller version of rendered tweets when you calculate in the border */
}

.twitter-tweet-rendered {
    margin: 5px !important;
}

#posts {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background: url("paper.jpg") repeat scroll center bottom #DDDDDD;
    box-shadow: 0 0 10px 5px black;
    color: #333;
    font-family: "Patrick Hand",cursive;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 0 0 20px;
    min-width: 250px;
    padding: 1px 140px 10px 140px;
    text-align: center;
    text-shadow: 0 0 1px #333;
    top: 0;
}

#header tt, #header .section a {
    color: #DF0000;
    font-family: cursive;
    font-size: 28px;
    font-weight: normal;
    text-shadow: 0 0 2px red;
    line-height: 17px;
    display: inline-block;
    transform: rotate(4deg);
}

#header a {
    text-decoration: none;
    font-family: cursive, sans-serif;
    color: #DF0000;
    text-shadow: 0 0 1px #DF0000;
}

#menu, #languages {
    display: block;
    list-style-type: none;
    padding: 8px;
}

#menu a {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    text-shadow: 0 0 1px #333;
    padding-right: 50px;
    padding-bottom: 15px;
}

#menu .active a{
    color: #DF0000;
    text-shadow: 0 0 1px #DF0000;
    background: url("arrows.png") no-repeat right 14px transparent;
}

#menu a:hover {
    color: #DF0000;
    text-shadow: 0 0 2px #DF0000;
    background: url("arrows.png") no-repeat right 14px transparent;
}

#menu li {
    display: inline-block;
    min-width: 180px;
}

.facebook-post .twt-border blockquote {
    margin: 0;
    padding: 15px;
}

.facebook-post .twt-border {
    background-color: #FFFFFF;
    border-color: #EEEEEE #DDDDDD #BBBBBB;
    border-image: none;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0;
    max-width: 99%;
    min-width: 220px;
    position: relative;
}

.facebook-post .twt-border, .facebook-post, .facebook-post .twt-border .body {
    color: #333333;
    direction: ltr;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height: 1.28;
    text-align: left;
}

.facebook-head {
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 10px;
}

.facebook-logo {
    float: right;
    margin-bottom: 1px;
    margin-left: 5px;
}

.facebook-post p {
    padding: 10px 0 15px;
}

.facebook-post .head-pic {
    display: block;
    float: left;
}

.facebook-post .head-pic .head-pic-link {
    width: 32px;
    height: 32px;
}

.head-pic img {
    border-radius: 5px 5px 5px 5px;
    height: 32px;
    width: 32px;
}

.facebook-post .head-author {
    margin-left: 40px;
    vertical-align: middle;
}

.facebook-post .head-author .story {
    color: #999999;
    font-size: 13px;
}

.facebook-post a {
    color: #3B5998;
    cursor: pointer;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.facebook-post .more a {
    font-size: 11px;
    font-weight: normal;
}

.facebook-post a.timestamp, .facebook-post a.timestamp abbr {
    border-bottom: medium none;
    color: #999999;
    font-size: 11px;
    font-weight: normal;
}

.facebook-post a:hover {
    text-decoration: underline;
}

.facebook-post .message {
    color: #333333;
    font-size: 13px;
    line-height: 1.38;
    margin: 10px 0;
}

.facebook-post .body a {
    font-weight: normal;
}

.facebook-post .picture {
    max-width: 100%;
}

.facebook-post .actions {
    background-color: #EDEFF4;
    color: #999999;
    margin-top: 10px;
    padding: 5px 12px;
}

.facebook-post .actions a {
    color: #3B5998;
    cursor: pointer;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 1.28;
    text-decoration: none;
}

.facebook-post .actions a:hover {
    text-decoration: underline;
}

.facebook-post .actions .shares {
    float: right;
    margin-left: 5px;
}

.facebook-post .likes {
    background-color: #F1F2F6;
    border: 0 none;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 1.28;
    margin-top: 1px;
    padding: 5px 12px;
}

.facebook-post .likes a {
    font-size: 11px;
    font-weight: normal;
    line-height: 1.28;
}

.facebook-post .photo .caption {
    border-left: 2px solid #CCCCCC;
    font-size: 11px;
    margin-top: 10px;
    padding-left: 8px;
}

.facebook-post .photo .caption a {
    font-size: 11px;
}

.facebook-post .photo .description, .facebook-post .photo .description a {
    font-size: 11px;
}

.facebook-post .video, .facebook-post .link {
    background-color: #F7F7F7;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}

.facebook-post .video-icon {
    background: url("video.png") no-repeat scroll 0 0 transparent;
    bottom: 5px;
    height: 26px;
    left: 5px;
    position: absolute;
    width: 35px;
}

.facebook-post .video .picture, .facebook-post .link .picture {
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    float: left;
}

.facebook-post .video .picture {
    height: 130px;
    width: 130px;
}

.facebook-post .link .picture {
    height: 90px;
    width: 90px;
}

.facebook-post .top-border, .facebook-post .bottom-border {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    left: 1px;
    position: absolute;
    right: 1px;
    top: 0;
}

.facebook-post .bottom-border {
    bottom: 0;
    right: 0;
    top: auto;
}

.facebook-post .right-border {
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.facebook-post .meta-outside {
    overflow: hidden;
}

.facebook-post .video .meta-link {
    display: block;
}

.facebook-post .video .meta-link-picture {
    min-height: 122px;
}

.facebook-post .meta-link:hover {
    text-decoration: none;
}

.facebook-post .video .meta {
    display: block;
    max-height: 118px;
}

.facebook-post .meta {
    color: gray;
    font-size: 11px;
    font-weight: normal;
    margin: 8px 10px 10px;
    overflow: hidden;
}

.facebook-post .meta .name {
    color: #3B5998;
    font-weight: bold;
}

.facebook-post .meta .name:hover {
    text-decoration: underline;
}

.facebook-post .meta .description {
    margin-top: 3px;
}

.facebook-post .link .meta-link {
    display: block;
}

.facebook-post .link .meta-link-picture {
    min-height: 82px;
}

.facebook-post .link .meta {
    display: block;
    max-height: 75px;
}

.facebook-post .meta-link span {
    display: block;
}

.facebook-post .short {
    max-height: 100px;
    overflow: hidden;
}

.facebook-post .hideoverflow {
    overflow: hidden;
}

.facebook-post .invite-icon {
    background: url("facebook-buttons2.png") no-repeat 0 -164px;
    background-size: auto auto;
    display: inline-block;
    height: 10px;
    left: 0;
    position: absolute;
    top: 2px;
    vertical-align: middle;
    width: 12px;
}

.facebook-post .invite-link {
    padding-left: 17px;
    position: relative;
}

.facebook-post .event {
    vertical-align: top;
}

.facebook-post .event .meta a {
    font-size: 11px;
}

.facebook-post .event .meta .date a, .facebook-post .event .meta .location a {
    color: gray;
    font-size: 11px;
    font-weight: normal;
}

.facebook-post .event .picture-link {
    float: left;
    margin-right: 10px;
}

.facebook-post .event .picture {
    height: 50px;
    width: 50px;
}

.facebook-post .event .name {
    display: block;
}

.facebook-post .event .invite {
    margin-top: 10px;
}

.facebook-post .like-icon {
    background: url("facebook-buttons1.png") no-repeat 0 -52px;
    background-size: auto auto;
    display: block;
    height: 13px;
    width: 15px;
}

.facebook-post .like-link, .facebook-post .like-nolink {
    display: block;
    margin-right: 5px;
    margin-top: -1px;
}

.facebook-post .like-link-float {
    float: left;
}

.facebook-post .share-icon {
    background: url("facebook-buttons3.png") no-repeat -36px -76px;
    background-size: auto auto;
    display: block;
    height: 16px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 14px;
}

.facebook-post .share-link {
    padding-left: 18px;
    position: relative;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.stats-content, .links-content, .events-content  {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #EEEEEE #DDDDDD #BBBBBB;
    border-image: none;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 15px 0 black;
    color: black;
    margin-bottom: 10px;
}

.stats-content, .events-content {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.links-content {
    font-family: "Lucida Grande",Tahoma,sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding: 1em 2em;
}

.links-content dt *:link, .links-content dt *:visited {
    color: #555;
    display: block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 20px 0 0;
    text-decoration: none;
    border-bottom: 1px solid #e9e9e9;
}

.links-content dt *:hover {
    color: #DF0000;
}

.links-content dd {
    color: #333;
    font-size: 13px;
    padding: 10px 0;
}

.links-content dt :after {
    background: url("link.png") repeat scroll 0 0 transparent;
    content: "";
    display: inline-block;
    margin-left: 6px;
    width: 17px;
    height: 17px;
}

.events-content {
    padding: 1em;
}

#load-posts {
    text-align: center;
}

#load-posts button {
    background: none repeat scroll 0 0 white;
    color: #444;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #eee;
    cursor: pointer;
    border-radius: 3px;
    margin: 10px;
    padding: 3px 25px ;
    box-shadow: 0 0 6px black;
}

#load-posts button:hover {
    background-color: #444;
    border: none;
    color: white;
}

#facebook-like {
    position: absolute;
    float: right;
    right: 30px;
    margin-top: -100px;
    padding: 60px 25px 15px 100px;
    background: url("facebook-like.png") no-repeat 25px 15px transparent;
}

#languages {
    position: absolute;
    left: 10px;
    color: #333;
    margin:10px
}

#languages li, #languages form {
    display: inline;
    margin: 0;
    padding: 0;
    border: 0;
}

#languages li {
    padding: 0 5px;
    display: inline-block;
    transform: rotate(10deg);
}

#languages button, #languages input {
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    width: auto;
    height: auto;
    border: 0;
    box-sizing: content-box;
}

#languages button {
    font-family: "Patrick Hand",cursive;
    font-size: 16px;
    color: #333;
    text-shadow: 0 0 1px #333;
}

#languages button:hover, #languages .active {
    color: #DF0000;
    text-shadow: 0 0 1px #DF0000;
    text-decoration: underline;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.eventsCalendar-slider {
    width: 100%;
    position: relative;
}

.eventsCalendar-slider a {
    color: #555;
}

.eventsCalendar-slider a:hover {
    text-decoration: underline;
}

.eventCalendar-wrap .arrow {
    position: absolute;
    z-index: 5;
    text-decoration: none;
    color: #000;
    line-height: 28px;
    top: 3px;
}

.eventCalendar-wrap .arrow:hover {
    opacity: 0.4;
}

.eventCalendar-wrap .prev {
    left: 3px;
    padding-right: 10px;
}

.eventCalendar-wrap .next {
    right: 3px;
    padding-left: 10px;
}

.eventCalendar-wrap .arrow span {
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid #555;
    float: left;
    text-indent: -5000px;
}

.eventCalendar-wrap .arrow.prev span {
    border-left-width: 0;
    border-right: 9px solid #555;
}

.eventsCalendar-currentTitle .monthTitle {
    color: #DF0000;
}

.eventsCalendar-monthWrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.eventsCalendar-daysList {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 11px;
    text-align: center;
}

.eventsCalendar-daysList li {
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 1px 2px #939393;
    color: #555;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    min-width: 23px;
    padding: 2px 0;
    width: 2%;
    border: 2px solid white;
}

.eventsCalendar-daysList li a:hover {
    text-decoration: none;
}

.eventsCalendar-daysList li.dayWithEvents a:hover {
    color: white;
    text-decoration:none;
}
.eventsCalendar-daysList li.dayWithEvents:hover {
    background-color: #555;
}

.eventsCalendar-daysList li.dayWithEvents {
    border: 2px solid #555;
}

.eventsCalendar-daysList li.current,
.eventsCalendar-daysList li.current a {
    background: #DF0000;
    color: white;
    border-color: #DF0000;
}

.eventsCalendar-daysList li a {
    padding: 0;
    display: block;
    text-align: center;
}

.eventsCalendar-day-header {
    padding: 0;
    display: block;
    text-align: center;
}

.eventsCalendar-loading, .eventsCalendar-loading.error {
    display: none;
    position: absolute;
    left: -10000px;
    top: -10000px
}

.eventsCalendar-list {
    display: block;
    margin: 0 auto;
    padding: 0;
}

.monthTitle, .eventsCalendar-subtitle {
    color: #555555;
    display: block;
    font-family: "Patrick Hand",cursive;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0;
    text-align: center;
}

.eventsCalendar-noEvents {
    display: block;
    text-align: center;
}

.eventsCalendar-noEvents p {
    margin: 0;
}

#under-graph {
    position: relative;
    text-align: center;
    margin-top: -0.7em;
    margin-bottom: 1.2em;
    font-size: 10px;
    color: #666666;
}

.github-source {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
