body {
    background: url("bg_wall.jpg") no-repeat fixed 0 0 #333333 !important;
    margin: 0;
}

.post {
    display: inline-block;
    max-width: 350px;
    min-width: 350px;
    padding: 5px;
    vertical-align: top;
}

#header {
    background: url("paper.jpg") repeat scroll center bottom #DDDDDD;
    box-shadow: 0 0 10px 5px black;
    color: #00285A;
    font-family: Permanent Marker;
    font-size: 17px;
    letter-spacing: 0;
    margin: 0 0 20px;
    min-width: 250px;
    padding: 10px 100px 10px 10px;
    text-align: center;
    text-shadow: 0 0 1px #000088;
    top: 0;
}

#header tt {
    color: #DF0000;
    font-family: cursive;
    font-size: 33px;
    font-weight: normal;
    text-shadow: 0 0 2px red;
}

.twitter-tweet-rendered {
    margin: 0 !important;
}

.twt-border blockquote {
}

.facebook-post .twt-border blockquote {
    margin: 0;
    padding: 15px;
}

.facebook-post {
    color: #333333;
    direction: ltr;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height: 1.28;
    text-align: left;
}

.facebook-head {
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 10px;
}

.facebook-logo {
    position: absolute;
    right: 15px;
}

.facebook-post p {
    padding: 10px 0 15px;
}

.facebook-post .head-pic {
    display: block;
    float: left;
}

.head-pic img {
    border-radius: 5px 5px 5px 5px;
    height: 32px;
    width: 32px;
}

.facebook-post .head-space {
    height: 32px;
}

.facebook-post .head-author {
    margin-left: 40px;
    vertical-align: middle;
}

.facebook-post a {
    color: #3B5998;
    cursor: pointer;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.facebook-post .more a {
	font-size: 11px;
	font-weight: normal;
}

.facebook-post a.timestamp, .facebook-post a.timestamp abbr {
    border-bottom: medium none;
    color: #999999;
    display: block;
    font-size: 11px;
    font-weight: normal;
}

.facebook-post a:hover {
    text-decoration: underline;
}

.facebook-post .body {
    margin: 15px 0 0;
}

.facebook-post .picture {
    max-width: 100%;
}

.facebook-post .actions {
    background-color: #EDEFF4;
    padding: 5px 12px;
    color: #999999;
}

.facebook-post .actions a {
    color: #3B5998;
    cursor: pointer;
    text-decoration: none;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height: 1.28;
    font-weight: normal;
}

.facebook-post .actions a:hover {
    text-decoration: underline;
}

.facebook-post .actions .shares {
    float: right;
}

.facebook-post .likes {
    background-color: #F1F2F6;
    margin-top: 1px;
    border: 0 none;
    padding: 5px 12px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height: 1.28;
    font-weight: normal;
}

.facebook-post .likes a {
    font-weight: normal;
}