<div class="links-content">
    <dl>
        {# Povezave urejene po abecednem vrstnem redu #}

        <dt><a href="http://www.aktivnidrzavljan.si/">Aktivni državljan<div class="link-icon"></div></a></dt>
        <dd>Mreža za neposredno demokracijo. Bodi solidaren, bodi aktiven – predlagaj, udeležuj se, pridruži se!</dd>

        <dt><a href="http://danesjenovdan.si/">Danes je nov dan<div class="link-icon"></div></a></dt>
        <dd>Ne čakaj pomladi. Skupaj gradimo novo državo.</dd>

        <dt><a href="http://www.demonstracije.com/">Demonstracije Slovenija<div class="link-icon"></div></a></dt>
        <dd>Spletno mesto demonstracije.com ni namenjeno organizaciji protestov, temveč je namenjeno združevanju informacij o protestih in demonstracijah po celotni Sloveniji.</dd>

        <dt><a href="http://www.drzavljanskaodgovornost.si/">Državljanska odgovornost<div class="link-icon"></div></a></dt>
        <dd>Državljanska odgovornost je spletno mesto kritične misli, kjer si prizadevamo natančno zaznavati težave Slovenije in tudi predlagati, kaj konkretnega bi se dalo storiti, da bi življenjske razmere v Sloveniji postale boljše, naše dihanje pa lažje.</dd>

        <dt><a href="http://www.pravicna-druzba.si/">Gibanje za pravično družbo<div class="link-icon"></div></a></dt>
        <dd>Mobilizirajmo spečo modrost skupnosti!</dd>

        <dt><a href="http://menekoprava.blogspot.si/">Menekoprava in Lista SPS<div class="link-icon"></div></a></dt>
        <dd>Namen Liste SPS je aktivno sooblikovati nova politična strujanja v Republiki Sloveniji in širše, in sicer na osnovi menekoprave.</dd>

        <dt><a href="https://neposrednademokracija.wordpress.com/">Neposredna demokracija zdaj!<div class="link-icon"></div></a></dt>
        <dd>Neposredna demokracija v politiki in ekonomiji.</dd>

        <dt><a href="http://odbor.si/">Odbor za pravično in solidarno družbo<div class="link-icon"></div></a></dt>
        <dd>Odbor za pravično in solidarno družbo je neformalno civilno združenje zainteresiranih ter zaskrbljenih državljank in državljanov</dd>

        <dt><a href="https://www.google.com/moderator/#16/e=202b51">Predlogi za boljši jutri<div class="link-icon"></div></a></dt>
        <dd>Da ne bomo samo jamrali, začnimo zbirat predloge.</dd>

        <dt><a href="http://protestnik.vakciji.si/">Protesti<div class="link-icon"></div></a></dt>
        <dd>Dovolj je! Čas je za spremembe, čas je za nove ideje, čas je za ljudstvo!</dd>

        <dt><a href="http://www.delo.si/revolt">Revolt in alternative<div class="link-icon"></div></a></dt>
        <dd>Verjamete, da obstajajo tudi sprejemljivejše poti iz krize? Vabljeni k skupnemu iskanju alternativ za boljši jutri.</dd>

        <dt><a href="http://www.sinteza.co/">Sinteza<div class="link-icon"></div></a></dt>
        <dd>Gibanje za družbeno prenovo.</dd>

        <dt><a href="https://skupajzamaribor.wordpress.com/">Skupaj za Maribor!<div class="link-icon"></div></a></dt>
        <dd>Skupina <i>Skupaj za Maribor!</i> se je oblikovala, da bi po svojih močeh prispevala k produktivnim rezultatom mariborskih vstaj in vseh dogodkov, ki te vstaje spremljajo.</dd>

        <dt><a href="http://www.slovenija-neposredno.si/">Slovenija neposredno<div class="link-icon"></div></a></dt>
        <dd>Pobuda za ustanovitev politične stranke, temelječe na elektronski neposredni demokraciji.</dd>

        <dt><a href="http://sobotaobenajstih.si/">Sobota ob enajstih<div class="link-icon"></div></a></dt>
        <dd></dd>

        <dt><a href="http://www.tretjiclen.si/slo/">Tretji člen<div class="link-icon"></div></a></dt>
        <dd>Naši glasovi so naša moč.</dd>

        <dt><a href="http://www.mojazaveza.si/">Zaveza za državo Slovenijo<div class="link-icon"></div></a></dt>
        <dd></dd>
    </dl>
</div>