<div class="links-content">
    <dl>
        {# Povezave urejene po abecednem vrstnem redu #}

        <dt><a href="http://www.aktivnidrzavljan.si/">Aktivni državljan</a></dt>
        <dd>Mreža za neposredno demokracijo. Bodi solidaren, bodi aktiven – predlagaj, udeležuj se, pridruži se!</dd>

        <dt><a href="https://crowdvoice.org/gotofje---slovenian-revolution">CrowdVoice – Gotofje</a></dt>
        <dd>In Slovenia, protests against corrupt government are happening. People demand that all politicians resign with calls "gotof je" ("he/she is finished") and "gotovi so" ("they are finished").</dd>

        <dt><a href="http://danesjenovdan.si/">Danes je nov dan</a></dt>
        <dd>Ne čakaj pomladi. Skupaj gradimo novo državo.</dd>

        <dt><a href="http://www.demonstracije.com/">Demonstracije Slovenija</a></dt>
        <dd>Spletno mesto demonstracije.com ni namenjeno organizaciji protestov, temveč je namenjeno združevanju informacij o protestih in demonstracijah po celotni Sloveniji.</dd>

        <dt><a href="http://www.drzavljanskaodgovornost.si/">Državljanska odgovornost</a></dt>
        <dd>Državljanska odgovornost je spletno mesto kritične misli, kjer si prizadevamo natančno zaznavati težave Slovenije in tudi predlagati, kaj konkretnega bi se dalo storiti, da bi življenjske razmere v Sloveniji postale boljše, naše dihanje pa lažje.</dd>

        <dt><a href="http://www.pravicna-druzba.si/">Gibanje za pravično družbo</a></dt>
        <dd>Mobilizirajmo spečo modrost skupnosti!</dd>

        <dt><a href="http://www.imz-maribor.org/">Iniciativa mestni zbor Maribor</a></dt>
        <dd>Samoorganizirane četrtne in krajevne skupnosti Maribora.</dd>

        <dt><a href="http://gotof.net/">InstaGotof</a></dt>
        <dd>Avtomatsko objavljanje fotografij iz Instagrama in Twitterja iz #gotofje protestov.</dd>
        
        <dt><a href="www.inepa.si">Inštitut za elektronsko participacijo (INePA)</a></dt>
        <dd>Prispevamo k razvoju demokracije in sodelovanju javnosti z družbeno inovativno rabo interneta.</dd>

        <dt><a href="http://metinalista.si/">Metina lista</a></dt>
        <dd>Spletna postaja za osebe širokih pogledov in aktivnega duha.</dd>

        <dt><a href="http://menekoprava.blogspot.si/">Menekoprava in Lista SPS</a></dt>
        <dd>Namen Liste SPS je aktivno sooblikovati nova politična strujanja v Republiki Sloveniji in širše, in sicer na osnovi menekoprave.</dd>

        <dt><a href="http://neposrednademokracija.com/">Neposredna demokracija zdaj!</a></dt>
        <dd>Neposredna demokracija zdaj! je odprta platforma posameznic in posameznikov za izmenjavo, oblikovanje, širjenje in vpeljavo idej ter praks neposredne demokracije.</dd>

        <dt><a href="http://odbor.si/">Odbor za pravično in solidarno družbo</a></dt>
        <dd>Odbor za pravično in solidarno družbo je neformalno civilno združenje zainteresiranih ter zaskrbljenih državljank in državljanov</dd>

        <dt><a href="https://www.google.com/moderator/#16/e=202b51">Predlogi za boljši jutri</a></dt>
        <dd>Da ne bomo samo jamrali, začnimo zbirat predloge.</dd>

        <dt><a href="http://presencecounts.wordpress.com/">Prisotnost šteje</a></dt>
        <dd>Mirna revolucija se je že začela. Čas je, da zahtevamo pravo demokracijo! Čas je, da se organiziramo in začnemo govoriti o rešitvah in predlogih na globalni ravni!</dd>

        <dt><a href="http://protestnik.vakciji.si/">Protesti</a></dt>
        <dd>Dovolj je! Čas je za spremembe, čas je za nove ideje, čas je za ljudstvo!</dd>
        
        <dt><a href="http://www.reddit.com/r/Slovenija/">Reddit Slovenija</a></dt>
        <dd>Novice iz dežele butalcev.</dd>

        <dt><a href="http://resetiraj.si/">Resetiraj</a></dt>
        <dd>Ni Twitterja - ni panike! Spremljaj v živo sporočila vezana za dogodke v Sloveniji!</dd>

        <dt><a href="http://www.delo.si/revolt">Revolt in alternative</a></dt>
        <dd>Verjamete, da obstajajo tudi sprejemljivejše poti iz krize? Vabljeni k skupnemu iskanju alternativ za boljši jutri.</dd>

        <dt><a href="http://www.sinteza.co/">Sinteza</a></dt>
        <dd>Gibanje za družbeno prenovo.</dd>

        <dt><a href="https://skupajzamaribor.wordpress.com/">Skupaj za Maribor!</a></dt>
        <dd>Skupina <i>Skupaj za Maribor!</i> se je oblikovala, da bi po svojih močeh prispevala k produktivnim rezultatom mariborskih vstaj in vseh dogodkov, ki te vstaje spremljajo.</dd>

        <dt><a href="http://www.slovenija-neposredno.si/">Slovenija neposredno</a></dt>
        <dd>Pobuda za ustanovitev politične stranke, temelječe na elektronski neposredni demokraciji.</dd>

        <dt><a href="http://sobotaobenajstih.si/">Sobota ob enajstih</a></dt>
        <dd></dd>

        <dt><a href="http://www.tretjiclen.si/slo/">Tretji člen</a></dt>
        <dd>Naši glasovi so naša moč.</dd>

        <dt><a href="http://www.mojazaveza.si/">Zaveza za državo Slovenijo</a></dt>
        <dd></dd>
    </dl>
</div>
